[submodule "crates/valv/vendor/googleapis"]
	path = crates/valv/vendor/googleapis
	url = https://github.com/googleapis/googleapis
[submodule "examples/google-kms/vendor/googleapis"]
	path = examples/google-kms/vendor/googleapis
	url = git@github.com:googleapis/googleapis.git
